* {
  margin: 0;
  padding: 0;

  /*font-family: 'Lato', monospace;*/
  font-weight: 500;

  font-family: 'Luxurious Roman', cursive;
  color: hsl(25deg 94% 10%);
}


body {
  background-color: hsl(55deg 32% 89%);
  background: linear-gradient(270deg, hsl(55deg 32% 89%) 0%, hsl(55deg 32% 69%) 100%);
  color: #e6003d;
}


