
header {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

h1, h2 {
  font-weight: 700;
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-size: 3em;
  font-family: 'Luxurious Roman', cursive;
  text-shadow: -1px 0 hsl(50deg, 60%, 96%), 0 1px hsl(50deg, 60%, 96%), 1px 0 hsl(50deg, 60%, 96%), 0 -1px hsl(50deg, 60%, 96%);
}
h2 {
  font-size: 2em;
  font-family: 'Luxurious Roman', cursive;
}

p {
  text-align: left;
  font-size: 1.3em;
  max-width: 1000px;
  margin: auto;
  margin-top: 1em;
  line-height: 1.2;
}

.center {
  display: flex;
  justify-content: center;
}

.Thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /*max-width: 600px;*/
  border: 1px solid;
  background-color: hsl(60deg 71% 99%);
  overflow: hidden;
  height: 171px;
  width: 187px;
  box-shadow: 0px 0px 5px;

}
.Thumbnail img {
  width: 100%;
  height: 100%;

  object-fit: cover

}

.ThumbnailVertical {
  width: 75%;
}

.ThumbnailDescription {
  padding: 0.5em;
  text-align: center;
}

.Thumbnail-overlay {
  opacity: 0;
  transition: 400ms;
  position: absolute;
  width: 187px;
  height: 171px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.Thumbnail-overlay:hover {
  opacity: 0.6;
}

label {
  text-align: center;
  margin-top: 0.75em;
  margin-bottom: 0.25em;
  font-size: 0.8em;
}
select {
  cursor: pointer;
}

.filterPanel {
  padding: 1em;
  padding-top: 0.25em;
  border:  1px solid;
  margin: 2em auto;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0.75em;
  /*align-items: center;
  justify-content: center;
  flex-direction: row;*/
  background-color: #e6f1f3;

}
.filterPanel > div {
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .filterPanel {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 0.75em;
  }
}


.thumbnailGrid {
  padding: 2em;
  padding-top: 0;
  width: 1008px;
  margin: auto;
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 1em;

  justify-items: center;
}
.thumbnailGrid > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnailGridXS {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.thumbnailGridSmall {
  grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.thumbnailGridMedium {
  grid-template-columns: 1fr 1fr 1fr ;
}

.thumbnailGridLarge {
  grid-template-columns: 1fr;
}

.thumbnailGridLarge .ThumbnailVertical {
  width: 100%;
}

.thumbnailClickPrompt {
  background-color: hsl(27deg 15% 18%);;
  text-align: center;
  color: #e6f1f3;
  padding: 0.5em;
  font-size: 1.25em;
}

.closingNotes {
  padding: 1em;
  text-align: center;
  max-width: 700px;
  margin: auto;
}

footer {
  margin-top: 2em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer > * {
  padding: 1em;
  text-align: center;
  margin-bottom: 1em;
}


.blue, .red, .green {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 10px;
}
/*hsl(55deg 25% 69%)*/
.red {
  background-color: hsl(5deg 75% 59%);
}

.green {
  background-color: hsl(100deg 46% 32%);
}

.blue {
  background-color: hsl(244deg 48% 41%);
}

.purple {
  background-color: hsl(263deg 30% 38%);
}





